{% extends "base.twig" %}
{% block content %}

<div class="video-container-standalone">
<div class="video-container">
	{% if page.vimeo_id %}
		<iframe src="//player.vimeo.com/video/{{ page.vimeo_id }}?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	{% endif %}
	{% if page.youtube_id %}
		<iframe width="560" height="315" src="//www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>)
	{% endif %}
	{% if page.player_url %}
		<iframe src="{{ page.player_url }}" width="600" height="338" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	{% endif %}
</div>
<h4>{% if page.remote_url %}<a href="{{ page.remote_url }}">{% endif %}{{ page.title }}{% if page.remote_url %}</a>{% endif %}</h4>
{% if page.remote_url %}
<p>
<a href="{{ page.remote_url }}">Read more</a>
</p>
{% endif %}
</div>

{% endblock %}
